<style>
    button * {
        pointer-events: none;
    }

    .disabled_acc {
        background-color: rgba(255, 40, 40, 0.2) !important;
    }
</style>

<div class="side-app" onload="setup()">


    <!-- header -->
    <div class="row">
        <div class="col-md-12">

        </div>
        <div class="col-md-10 col-xl-10">
            <h1 class="page-title mb-6" style="font-size: 30px;">Teacher</h1>
        </div>

        <div class="col-md-2 col-xl-2 text-right">
            <button data-toggle="modal" data-target="#ModalAddTeacher" class="btn btn-pill btn-secondary-light"><i
                    class="fa fa-plus"><b style="font-family: sans-serif;">&nbsp;Teacher</b></i></button>
        </div>
    </div>
    <!-- /header -->

    <!-- filter guru -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h3 class="card-title">Find Teacher</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3 col-xl-3">
                            <label class="form-label mt-0">Choose School</label>
                            <select id="selSchool" class="form-control select2-show-search" data-placeholder="Semua">
                                <% schoolList.forEach(s=>{ %>
                                    <option value="<%=s.schoolId%>" title="<%=s.fullName%>">
                                        <%=s.abbrv%>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>

                        <div class="col-md-1 col-xl-1 text-right">
                            <label class="form-label mt-0"><br></label>
                            <button onclick="loadStaff()" class="btn btn-info"><b><i class="fa fa-search"></i></b></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /filter guru -->

    <!-- ROW-table -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List of Teacher</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-nowrap mb-0" id="TeachTable">
                            <thead class="bg-primary">
                                <tr>
                                    <!--<th width="8%" class="text-center text-white">No</th>-->
                                    <th width="50%" class="text-white">Name & Id</th>
                                    <th width="15%" class="text-white">Contact</th>
                                    <th width="30%" class="text-white">Class</th>
                                    <!--<th width="20%" class="text-center text-white">Sekolah</th>-->
                                    <!--<th width="12%" class="text-center text-white">Tarikh Daftar</th>-->
                                    <th width="5%" class="text-center text-white"></th>
                                </tr>
                            </thead>
                            <tbody class="mycustom_tbd">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW-4 END -->
    </div>


    <!--Modal add teacher-->
    <div id="ModalAddTeacher" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h4 class="modal-title font-weight-bold">Teacher Registration</h4>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="exampleInputname">Name</label>
                                <input type="text" class="form-control" id="txtnameteach">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <label for="exampleInputnumber">I/C Number</label>
                                <input type="text" class="form-control" id="txtstaffId">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <label for="exampleInputnumber1">Phone Number</label>
                                <input type="text" class="form-control" id="txtphone">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="txtemail">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" id="txtpassword">
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="form-group">
                                <label for="exampleInputnumber">School</label>
                                <select class="form-control select2-show-search" id="regSchool">
                                    <% schoolList.forEach(s=>{ %>
                                        <option value="<%=s.schoolId%>" title="<%=s.fullName%>">
                                            <%=s.abbrv%>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputnumber">State</label>
                                    <select id="selectState" class="form-control select2" onchange="changeState(event)">
                                        <option value="-1">Choose State</option>
                                        <% states.forEach(state=> {%>
                                            <option value="<%= state['state_code']%>">
                                                <%=state["state_name"]%>
                                            </option>
                                            <%});%>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputnumber">Postcode</label>

                                    <div class="select-search">
                                        <input id="SSPostcode" type="text" disabled class="form-control"
                                            data-list="idListPostcode" onkeyup="SSKeyHandler(event)"
                                            onfocus="SSFocus(event)" onblur="SSFocus(event)"
                                            onplay="changePostcode(event)" autocomplete="off">
                                        <ul onclick="SSItemClick(event)" id="idListPostcode" data-selected="-1">
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputnumber">Area</label>
                                    <div class="select-search">
                                        <input id="SSArea" type="text" autocomplete="off" disabled class="form-control"
                                            data-list="idListArea" onkeyup="SSKeyHandler(event)"
                                            onfocus="SSFocus(event)" onblur="SSFocus(event)">
                                        <ul onclick="SSItemClick(event)" id="idListArea" data-selected="-1">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputnumber">Address</label>
                                <input type="text" class="form-control" id="txtalamat" placeholder="Address" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal-footer -->
                <div class="modal-footer" style="justify-content: center;">
                    <div class="modal-footer text-white" style="justify-content: center;">
                        <a class="btn btn-warning mt-1" data-dismiss="modal">Cancel</a>
                        <a class="btn btn-success mt-1" button onclick="registerTeach()">Save</a>
                        <span id="spnMsg"></span>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL DIALOG -->
    </div>


    <div id="ModalUpdateTeacher" class="modal fade">
        <div class="modal-dialog modal-md" role="document">

            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h4 class="modal-title font-weight-bold">Teacher Information</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="txtUpdName" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="" class="form-label">Identification No.</label>
                                        <input type="text" class="form-control" id="txtUpdId" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="form-label">Choose School</label>
                                    <select id="updSchool" class="form-control select2-show-search"
                                        data-placeholder="Semua">
                                        <% schoolList.forEach(s=>{ %>
                                            <option value="<%=s.schoolId%>" title="<%=s.fullName%>">
                                                <%=s.abbrv%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button class="btn btn-pill btn-outline-success" onclick="submitUpdateTeacher()">Save
                        Change</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableTeach;
    function setup() {
        tableTeach = new DataTable("#TeachTable")
    }

    async function registerTeach() {
        var action = await Swal.fire({
            type: 'question',
            title: 'Confirm Registration',
            text: 'Register new teacher into the system?',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        var areaId = document.getElementById("idListArea").dataset.selected;
        if (areaId == "-1" || document.getElementById("txtalamat").value.length < 3) {
            Message.createNew("Warning", "Invalid address", 2)
            return false;
        }


        var name = document.getElementById("txtnameteach").value;
        var staffId = document.getElementById("txtstaffId").value;
        var password = document.getElementById("txtpassword").value;
        var phone = document.getElementById("txtphone").value;
        var email = document.getElementById("txtemail").value;
        var schoolId = document.getElementById("regSchool").value

        var data = {
            "name": name,
            "accountId": staffId,
            "password": password,
            "phone": phone,
            "email": email,
            "schoolId": schoolId,
            "userType": 2
        }

        Server.request("POST", "/api/account/register", data, true).then(function (value) {
            document.getElementById("txtnameteach").value = "";
            document.getElementById("txtstaffId").value = "";
            document.getElementById("txtpassword").value = "";
            document.getElementById("txtphone").value = "";
            document.getElementById("txtemail").value = "";
            submitAddress(staffId)//ni panggil function ak buat yg akan insertkan address ke address table guna id die
            $('#ModalAddTeacher').modal('hide');
            Swal.fire({
                type: 'success',
                title: 'successfully registered'
            })
            loadStaff()

        }).catch(function (value) {
            console.log(value);
            try {

                value = JSON.parse(value);
                if (value.hasOwnProperty("validationError")) {
                    displayValidationError(value);
                }
                else {
                    Message.createNew("Error", value, 3);
                }
            }
            catch {

            }
        })
    }

    function updateStaff(e) {
        if (e.target.tagName == "BUTTON") {
            return
        }
        var tx = e.target.parentElement.children[0].innerHTML
        tx = tx.split('<br><span>')
        document.getElementById('txtUpdName').value = tx[0]
        document.getElementById('txtUpdId').value = tx[1].replace('</span>', '')
        $('#ModalUpdateTeacher').modal('show')
    }

    function submitUpdateTeacher() {
        var nsch = document.getElementById('updSchool').value
        if (nsch == document.getElementById('selSchool').value) {
            return
        }
        Server.request("POST", "/api/account/staff/school", {
            staffId: document.getElementById('txtUpdId').value.trim(),
            schoolId: parseInt(nsch)
        }, true).then(function (result) {
            Swal.fire({
                type: "success"
            })
            loadStaff()
            $('#ModalUpdateTeacher').modal('hide')
        }).catch(function (value) {
            try {
                value = JSON.parse(value);
                if (value.hasOwnProperty("validationError")) {
                    displayValidationError(value);
                }
                else {
                    Message.createNew("Error", value, 3);
                }
            }
            catch {

            }
            $('#ModalUpdateTeacher').modal('hide')
        })


    }

    function loadStaff() {

        var school = document.getElementById("selSchool").value;
        console.log(school);


        Server.request("GET", "/api/account/allStaff?schoolId=" + school, null, true).then(function (value) {
            tableTeach.clear();
            var data = JSON.parse(value);
            if (data.length == 0) {
                Swal.fire({
                    type: 'warning',
                    title: 'no data found'
                })
            }
            else {

                var tmpRow;
                data.forEach(staff => {
                    let clist = ""
                    if (staff.class) {

                        if (staff.class.includes(',')) {
                            staff.class.split(',').forEach(c => {
                                clist += c + "<br>"
                            })
                        }
                        else {
                            clist = staff.class
                        }
                    }
                    else {
                        clist = 'none'
                    }
                    tmpRow = tableTeach.row.add([
                        staff.name + '<br><span>' + staff.accountId + '</span>',
                        staff.email + '<br><span>' + staff.phone + '</span>',
                        clist,
                        //staff.fullName,
                        (staff.disabled == null) ? '<button onclick="deleteTeach(event)" class="btn btn-danger"><b><i class="fa fa-trash  text-white" style="font-size: 17px;"></i></b></button>'
                            : '<button onclick="reActivateAcc(event)" class="btn btn-success"><b><i class="fa fa-check-circle  text-white" style="font-size: 17px;"></i></b></button>'
                    ]).node()
                    tmpRow.id = staff.accountId;
                    if (staff.disabled) {
                        tmpRow.classList.add('disabled_acc')
                    }
                    else {
                        tmpRow.onclick = updateStaff
                    }
                })
            }
            tableTeach.draw();
            console.log(data)
        }
        ).catch(function (value) {
            console.log(value);
        });
    }

    async function deleteTeach(event) {

        var action = await Swal.fire({
            type: 'question',
            title: 'Delete Teacher?',
            text: 'This teacher will be removed from the system',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }
        var data = {
            "accountId": event.target.parentElement.parentElement.id
        }

        Server.request("POST", "/api/account/delete", data, true).then(function (value) {
            // tableTeach.row("#" + event.target.parentElement.parentElement.id).remove()
            // tableTeach.draw()
            Message.createNew("Success", "Account has been disabled", 1);
            loadStaff()

        }).catch(function (value) {

            console.log(value)
        })
    }


    async function reActivateAcc(e) {
        console.log(e.target.parentElement.parentElement.id)
        var chc = await Swal.fire({
            type: 'question',
            title: 'Re-Activate Account',
            text: 'Account Id : ' + e.target.parentElement.parentElement.id
        })
        if (chc.dismiss) {
            return
        }
        Server.request("POST", "/api/account/activate?accountId=" + e.target.parentElement.parentElement.id, null, true).then(function (result) {
            Swal.fire({
                type: 'success',
                title: 'account enabled'
            })
            loadStaff()
        }).catch(function (err) {
            Message.createNew("Error", "Unable to activate account", 3);

        })
    }

    function resetPostcode() {
        document.getElementById("SSPostcode").disabled = true;
        document.getElementById("SSPostcode").value = "";
        document.getElementById("idListPostcode").innerHTML = ""
        document.getElementById("idListPostcode").dataset.selected = "-1"
    }
    function resetArea() {
        document.getElementById("SSArea").disabled = true;
        document.getElementById("SSArea").value = "";
        document.getElementById("idListArea").innerHTML = ""
        document.getElementById("idListArea").dataset.selected = "-1"
    }

    function changePostcode(e) {
        if (e.target.value == '-1') {
            resetArea()
            return;
        }
        document.getElementById("SSArea").disabled = false;

        var postcode = document.getElementById(e.target.dataset.list).dataset.selected;
        getAreaInPostcode(postcode).then(function (result) {
            result = JSON.parse(result)
            var strhtml = ""
            result.forEach(area => {
                strhtml += '<li id="' + area.areaId + '">' + area.areaName + '</li>'
            });
            document.getElementById("idListArea").innerHTML = strhtml
        }).catch(function (err) {
            console.log(err)
        })
        console.log(postcode)
    }

    function changeState(e) {
        resetArea()
        resetPostcode()
        if (e.target.value == '-1') {
            return;
        }
        document.getElementById("SSPostcode").disabled = false;
        getPostcodes(e.target.value).then(function (result) {
            result = JSON.parse(result)
            var strhtml = ""
            result.forEach(pcode => {
                strhtml += '<li id="' + pcode.postcode + '">' + pcode.postcode + ' ' + pcode.postOffice + '</li>'
            });
            document.getElementById("idListPostcode").innerHTML = strhtml
        }).catch(function (err) {
            console.log(err)
        })
    }

    function submitAddress(accountId) {
        var text = document.getElementById("txtalamat").value;
        var areaId = document.getElementById("idListArea").dataset.selected;
        if (areaId == "-1") {
            Message.createNew("Warning", "Invalid address", 2)
            return false;
        }
        areaId = parseInt(areaId);
        var address = {
            "accountId": accountId,
            "addressText": text,
            "areaId": areaId
        }
        console.log(address)
        Server.request("POST", "/api/address/set", address, true).then(function (result) {
            console.log(result)
            Message.createNew("success", "address saved", 0);
            return;
        }).catch(function (err) {
            console.log(err)
            Message.createNew("err", err, 3);
            return;
        })
    }

</script>